/* general styling */
.nav-bar {
  background-color: #282828;
}

/* branding */
.brand {
  color: #458588;
}

.brand:hover {
  color: #83a598;
}

/* nav links */
.contact-lnk {
  color: #458588;
}

.contact-lnk:hover {
  color: #83a598;
}

.signup-lnk {
  color: #458588;

  position: absolute;
  left: 87%;
}
.signup-lnk:hover {
  color: #83a598;
}

.login-lnk {
  color: #458588;

  position: absolute;
  left: 82%;
}
.login-lnk:hover {
  color: #83a598;
}

.gh-lnk {
  color: #458588;

  position: absolute;
  left: 1337px;
}
.gh-lnk:hover {
  color: #83a598;
}
